<div class="left">
  <form [formGroup]="heroForm">
    <div class="create">
        <p>Name</p>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput
                formControlName="name"
                type="text"
                pattern="^[a-zA-zа-яА-я\s]*$"/>
        </mat-form-field>
        <p>Strength</p>
        <mat-form-field appearance="outline">
          <mat-label>Strength</mat-label>
          <input matInput
                 formControlName="strength"
                 type="number"
                 min="1"
                 max="10"/>
        </mat-form-field>
        <p>Powers</p>
        <mat-form-field appearance="outline">
          <mat-label>Power</mat-label>
          <mat-select multiple
                      formControlName="power">
            <mat-option *ngFor="let val of powers"
                        [value]="val">
              {{ val }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <p>Level</p>
        <mat-form-field appearance="outline">
          <mat-label>Level</mat-label>
          <input matInput
                formControlName="lvl"
                type="number"
                min="1"
                max="10"/>
        </mat-form-field>
        <br/>
        <button mat-raised-button
                [disabled]="!heroForm.valid"
                type="button"
                (click)="onSave()"
                color="primary"
                >Create</button>
    </div>
  </form>
  <form [formGroup]="power">
    <div class="power">
      <p>Добавление способностей</p>
      <mat-form-field appearance="outline">
        <mat-label>New power</mat-label>
        <input matInput
              formControlName="power"
              type="text"/>
      </mat-form-field>
      <br/>
      <button mat-raised-button
              [disabled]="!power.valid"
              color="primary"
              (click)="onPower()"
              type="reset">Add power</button>
    </div>
  </form>

</div>

<div class="right">
  <div class="filter">
    <mat-grid-list cols="12"
                   rowHeight="85px">
      <mat-grid-tile
          [colspan]="2"
          [rowspan]="2">
        <div>
          <p>Hero's level:</p>
          <br/>
          <p>Search by name</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile
      [colspan]="4"
      [rowspan]="2">
      <div>
        <span> от
          <mat-form-field class="toggles"
                          appearance="outline">
            <input matInput
                   type="number"
                   min=1
                   max=10
                   [value]="minLvl"
                   #minLevelInput
                   (change)="bigFilter(search.value, minLevelInput.value, maxLevelInput.value, sortOrder, select.value)">
          </mat-form-field >
          <span style="display:inline-block; width: 16%;">
          </span>
        </span>
        <span>
          до
          <mat-form-field class="toggles"
                          appearance="outline">
            <input matInput
                   type="number"
                   min=1
                   max=10
                   [value]="maxLvl"
                   #maxLevelInput
                   (change)="bigFilter(search.value, minLevelInput.value, maxLevelInput.value, sortOrder, select.value)">
          </mat-form-field>
          </span>
          <br/>
          <mat-form-field class="search"
                          appearance="outline">
            <input matInput
                   type="text"
                   pattern="^[a-zA-zа-яА-я\s]*$"
                   [value]="nameFilter"
                   (keyup)="bigFilter(search.value, minLevelInput.value, maxLevelInput.value, sortOrder, select.value)"
                   #search/>
          </mat-form-field>
      </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="3"
                     [rowspan]="2">
        <div>
          <p>Powers</p>
          <br/>
          <p>Sort by level</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3"
                     [rowspan]="2">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Power</mat-label>
            <mat-select multiple
                        [value]="powerFilter"
                        #select
                        (valueChange)="bigFilter(search.value, minLevelInput.value, maxLevelInput.value, sortOrder, select.value)">
              <mat-option *ngFor="let val of powers"
                          [value]="val">
                {{ val }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br/>
          <mat-form-field appearance="outline">
            <mat-label>Level</mat-label>
            <mat-select [(value)]="sortOrder"
                        (valueChange)="bigFilter(search.value, minLevelInput.value, maxLevelInput.value, sortOrder, select.value)">
              <mat-option value="asc">
                Ascending
              </mat-option>
              <mat-option value="desc">
                Descending
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div>
    <mat-expansion-panel *ngFor="let hero of data">
    <mat-expansion-panel-header>
      <mat-panel-description>
      {{ hero.name }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Name: {{ hero.name }}</p>
    <p>Strength: {{ hero.strength }}</p>
    <p>Powers: {{ hero.power.join(', ') }}</p>
    <p>Level: {{ hero.lvl }}</p>
    <button (click)="onDelete(hero)"
             mat-raised-button>
            Delete {{ hero.name }}
    </button>
    </mat-expansion-panel>
  </div>
</div>

