:host {
  /* Control the left side */
  .left {
    position: absolute;
    height: 100%;
    width: 24%;
    left: 48px;
    background-color: #183891;
    display: flex;
    align-items: center;
    flex-direction: column;
    .create {
      margin-bottom: 10px;
      padding: 10px 25px;
      border: black solid;
      width: 80%;
      input {
        margin: 20px;
        }
        button {
          margin: 20px;
        }
    }
    .skill {
      border: black solid;
      padding: 15px 25px 0 15px;
      margin: 30px;
      width: 80%;
      button {
        margin: 20px;
      }
    }
  }

  /* Control the right side */
  .right {
    right: 48px;
    height: 100%;
    width: 60%;
    position: absolute;
    background-color: red;
    .filter {
      border: black solid;
      padding-bottom: 20px;
    }
    // display: flex;
    // align-items: center;
    // flex-direction: column;
  }

  /* If you want the content centered horizontally and vertically */
  // .centered {
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   text-align: center;
  // }
}
