:host {
  /* Control the left side */
  .left {
    position: absolute;
    height: 100%;
    width: 24%;
    left: 25px;
    // background-color: #183891;
    display: flex;
    align-items: center;
    flex-direction: column;
    .create {
      margin-bottom: 5px;
      margin-left: 20px;
      padding: 0 35px 10px;
      border: black solid;
      width: 80%;
      // display: flex;
      // align-items: center;
      // flex-direction: column;
      // mat-input {
      //   width: 100%;
      //   height: 10px;
      //   }
        button {
          margin: 10px;
          // position: relative;
          left: 120px;

        }
    }
    .skill {
      border: black solid;
      padding: 0 28px 10px;
      margin: 30px;
      width: 80%;
      button {
        margin: 10px;
        left: 100px;
      }
    }
  }

  /* Control the right side */
  .right {
    right: 48px;
    height: 100%;
    width: 60%;
    position: absolute;
    background-color: red;
    .filter {
      border: black solid;
      padding-bottom: 20px;
    }
    // display: flex;
    // align-items: center;
    // flex-direction: column;
  }

  /* If you want the content centered horizontally and vertically */
  // .centered {
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   text-align: center;
  // }
}
