<div class="matTable">
<table  [dataSource]="dataSource"
        mat-table
        class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell
        *matHeaderCellDef> Name </th>
    <td mat-cell
        *matCellDef="let hero"> {{ hero.name }} </td>
  </ng-container>

  <ng-container matColumnDef="lvl">
    <th mat-header-cell
        *matHeaderCellDef> Level </th>
    <td mat-cell
        *matCellDef="let hero"> {{ hero.lvl }} </td>
  </ng-container>

  <ng-container matColumnDef="strength">
    <th mat-header-cell
        *matHeaderCellDef> Strength </th>
    <td mat-cell
        *matCellDef="let hero"> {{ hero.strength }} </td>
  </ng-container>

  <ng-container matColumnDef="power">
    <th mat-header-cell
        *matHeaderCellDef> Abilities </th>
    <td mat-cell *matCellDef="let hero"> {{ hero.power.join(', ') }} </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell
        *matHeaderCellDef> Delete </th>
    <td mat-cell
        *matCellDef="let hero">
      <button (click)="onDelete(hero)"
              mat-fab
              color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row
      *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row
      *matRowDef="let row;
      columns: displayedColumns;"></tr>
</table>
</div>

<!--
<table>
  <tr>
    <th>Name</th>
    <th>Level</th>
    <th>Strength</th>
    <th>Abilities</th>
    <th>Delete</th>

  </tr>
  <tr *ngFor="let hero of tableData">
    <td>{{ hero.name }}</td>
    <td>{{ hero.lvl }}</td>
    <td>{{ hero.strength }}</td>
    <td>{{ hero.power.join(', ') }}</td>
    <td>
      <button (click)="onDelete(hero)"
               mat-fab color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </tr>
</table>
-->
