:host {
  /* Control the left side */
  .left {
    position: absolute;
    height: 100%;
    width: 30%;
    left: 48px;
    background-color: #183891;
    display: flex;
    justify-content: center;
    align-items: center;;
  }

  /* Control the right side */
  .right {
    right: 48px;
    height: 100%;
    width: 55%;
    position: absolute;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;;
  }

  /* If you want the content centered horizontally and vertically */
  // .centered {
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   text-align: center;
  // }
}
